src/main/resources/pokemon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pokemon.com/soap"
           xmlns:tns="http://pokemon.com/soap"
           elementFormDefault="qualified">

    <xs:element name="AbilitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilitySlot" type="tns:AbilitySlot" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AbilitySlot">
        <xs:sequence>
            <xs:element name="ability" type="tns:Ability"/>
            <xs:element name="isHidden" type="xs:boolean"/>
            <xs:element name="slot" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ability">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
