src/main/resources/pokemon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pokemon.com/soap"
           xmlns:tns="http://pokemon.com/soap"
           elementFormDefault="qualified">

    <xs:element name="AbilitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilitySlot" type="tns:AbilitySlot" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AbilitySlot">
        <xs:sequence>
            <xs:element name="ability" type="tns:Ability"/>
            <xs:element name="isHidden" type="xs:boolean"/>
            <xs:element name="slot" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ability">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BaseExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BaseExperienceResponse">
            <xs:sequence>
                <xs:element name="baseExperience" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LocationAreaEncountersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LocationAreaEncountersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="locationAreaEncounters" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HeldItemRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HeldItemResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="heldItem" type="tns:HeldItem" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="HeldItem">
        <xs:sequence>
            <xs:element name="item" type="tns:Item"/>
            <xs:element name="versionDetails" type="tns:VersionDetail" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Item">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VersionDetail">
        <xs:sequence>
            <xs:element name="rarity" type="xs:int"/>
            <xs:element name="version" type="tns:Version"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Version">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
