src/main/resources/text.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ejemplo.com/soap"
           xmlns:tns="http://ejemplo.com/soap"
           elementFormDefault="qualified">

    <xs:element name="TextRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="texto" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TextResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="texto" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
